%html
    %head
        %title Axis and Allies Battle Simulator
        %script{:type => "text/javascript", :src => "jquery.js"}
        %script{:type => "text/javascript", :src => "jquery-ui-1.8.5.custom.min.js"}
        %script{:type => "text/javascript", :src => "jlayout.grid.js"}
        %script{:type => "text/javascript", :src => "jlayout.flexgrid.js"}
        %script{:type => "text/javascript", :src => "jquery.jlayout.js"}
        %script{:type => "text/javascript", :src => "jquery.sizes.js"}
        %script{:type => "text/javascript", :src => "highcharts.src.js"}
        %script{:type => "text/javascript", :src => "util.js"}
        %script{:type => "text/javascript", :src => "chart.js"}
        %script{:type => "text/javascript", :src => "widgets.js"}
        %script{:type => "text/javascript", :src => "units.js"}
        %script{:type => "text/javascript", :src => "simulator.js"}
        %script{:type => "text/javascript", :src => "axis.js"}
        <LINK href="axis.css" rel="stylesheet" type="text/css">
    %body

    %div.content.top
        %center
            Axis&Allies Battle Simulator
    %div.content.body
        #battleTypeSelector
        #unitSelector
        #aaGunSelector
        #costs
            %div.output{id: 'attackerCost', align: 'center'}
                IPC Cost 0:
            %div.output{id: 'dummy', align: 'center'}

            %div.output{id: 'defenderCost', align: 'center'}
                IPC Cost 0:
        #results
            %div.output{id: 'attackerWin', align: 'center'}
                Attacker Wins : 0%
            %div.output{id: 'mutalAnhiliation', align: 'center'}
                Mutal Anhiliation: 0%
            %div.output{id: 'defenderWin', align: 'center'}
                Defender Wins: 0%
        #charts{align: 'center'}
            %div.output{id: 'attackerRemainingUnits', align: 'center'}
            %div.output{id: 'defenderRemainingUnits', align: 'center'}
            %div.output{id: 'attackerIpcLoss'}
            %div.output{id: 'defenderIpcLoss'}
            %div.output{id: 'battleRounds'}
